@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.row{
    display: flex;
}

.ceil{
    width: 80px;
    height: 80px;
    font-size: 50px;
    border:1px solid black;
    line-height: 80px;
    text-align: center;
    margin-top: 5px;
}
.correct{
    color:green;
}
body{
    background-color: #593644;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 90px;
    text-align: center;
}
.main{
    font-family: 'Anton', sans-serif;
    width:740px;
    margin: 0 auto;
    background-color: #AEA3B0;
    border: 2px solid #827081;
    min-height: 100vh;
    padding: 0 120px;
}
.inputs{
    display: flex;
}
.entryInput{
    width: 240px;
    height: 50px;
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
    background-color: #B98D9F;
}
.entryButton{
    width: 240px;
    height: 50px;
    font-size: 40px;
    background-color: #B98D9F;
}
h2{
    text-align: center;
}